#env
.env
poetry.lock

#学習済みモデルの重み
ml/models/
models/

#.gitkeepは残す
!models/.gitkeep

#データセット
storage/
raw_data/
**/*.csv
**/*.tsv


#cache
**/__pycache__/
joblib_cache/
ml/catboost_info/
/app/ml_bot/research/tmp/
/app/ml_bot/research/src/outputs/


#画像
**/*.png
plots/
