#env
.env
poetry.lock

#python caches & env
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.pytype/
.ruff_cache/
.cache/
**/__pycache__/

#学習済みモデルの重み
ml/models/
models/
!models/.gitkeep

#データセット
storage/
raw_data/
research/data/
**/*.csv
**/*.tsv
**/*.parquet
**/*.joblib

#実験生成物
joblib_cache/
ml/catboost_info/
research/tmp/
research/src/outputs/
tmp/
outputs/
multirun/

#画像
**/*.png
plots/

#misc
*.log
.DS_Store
.idea/
.vscode/
