#env
.env
poetry.lock

#学習済みモデルの重み
ml/models/*
models/*

#.gitkeepは残す
!models/.gitkeep

#データセット
storage/
raw_data/
**/*.csv
**/*.tsv


#cache
**/__pycache__/
joblib_cache/
ml/catboost_info/*

#画像
**/*.png
plots/
